body {
    background-color:#ffffa0;
    padding:0px;
}
h4 {
    display:inline;
}

h5 {
    display:inline;
}
.settings {
    float:right;
}

.col-center{
    float: none;
    margin: 0 auto;
}

.classWithPad {
    padding:25px;
}

.uploaded {
    background-color:green;
}

.uploaded-remove {
    position:absolute;
    right:0px;
    background-color:red;
}