body {
    background-color:#ffffcc;
    padding:0px;
}

h5 {
    display:inline;
}
.settings {
    float:right;
}

.col-center{
    float: none;
    margin: 0 auto;
}

.classWithPad {
    padding:25px;
}

.uploaded {
    position:relative;
    height:64px;
    color:#4f8a10;
    background-color:#dff2bf;
}

.uploaded-file {
    display:inline;
    position:absolute;
    left:64px;
    padding:10px;
}

.uploaded-student {
    position:absolute;
    left:64px;
    bottom:0px;
    padding:10px;
    padding-bottom:5px;
}

.uploaded-remove {
    position:absolute;
    border-bottom-left-radius:25%;
    width:25px;
    height:25px;
    text-align:center;
    right:0px;
    top:0px;
    color:#d8000c;
    background-color:#ffbaba;
}

.thumb {
    position:absolute;
    background-color:#000;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}